<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:tool="http://www.springframework.org/schema/tool" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
           http://www.springframework.org/schema/jee
           http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.2.xsd
           http://www.springframework.org/schema/util
           http://www.springframework.org/schema/util/spring-util-3.2.xsd
           http://www.springframework.org/schema/tool
           http://www.springframework.org/schema/tool/spring-tool-3.2.xsd">

	<!-- 配置DBCP数据源 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://127.0.0.1:3306/semsweb?useUnicode=true&amp;characterEncoding=UTF-8" />
		<property name="username" value="semsweb" />
		<property name="password" value="semsweb" />
	</bean>


	<!-- 配置Hibernate begin -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
		<property name="mappingLocations">
			<list>
				<value>classpath:com/model/SysUser.hbm.xml</value>
				<value>classpath:com/model/Job.hbm.xml</value>
				<value>classpath:com/model/Cases.hbm.xml</value>
				<value>classpath:com/model/CasesDetail.hbm.xml</value>
				<value>classpath:com/model/CasesRes.hbm.xml</value>
				<value>classpath:com/model/SolutionDetail.hbm.xml</value>
				<value>classpath:com/model/SolutionRes.hbm.xml</value>
				<value>classpath:com/model/Solution.hbm.xml</value>
				<value>classpath:com/model/News.hbm.xml</value>
				<value>classpath:com/model/NewsContent.hbm.xml</value>
				<value>classpath:com/model/NewsDetail.hbm.xml</value>
				<value>classpath:com/model/Product.hbm.xml</value>
				<value>classpath:com/model/ProductRes.hbm.xml</value>
				<value>classpath:com/model/SysCode.hbm.xml</value>
			</list>
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="save*" propagation="REQUIRED"
				rollback-for="OperationException" />
			<tx:method name="modify*" propagation="REQUIRED"
				rollback-for="OperationException" />
			<tx:method name="delete*" propagation="REQUIRED"
				rollback-for="OperationException" />
			<tx:method name="get*" propagation="REQUIRED" read-only="true" />
			<tx:method name="query*" propagation="REQUIRED" read-only="true" />
			<tx:method name="*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>

	<aop:config proxy-target-class="true">
		<aop:pointcut id="serviceMethods"
			expression="execution(* com.service.*Service.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="serviceMethods" />
	</aop:config>
	<!-- 配置Hibernate end -->
	
	<!-- Action配置 -->
	<bean id="imageUpload" class="com.util.ImageUpload"></bean>
	
	<bean id="newsAction" class="com.action.NewsAction">
		<property name="newsService">
			<ref bean="newsService" />
		</property>
	</bean>
	
	<bean id="jobAction" class="com.action.JobAction">
		<property name="jobService">
			<ref bean="jobService" />
		</property>
	</bean>
	
	<bean id="solutionAction" class="com.action.SolutionAction">
		<property name="solutionService">
			<ref bean="solutionService" />
		</property>
	</bean>
	
	<bean id="casesAction" class="com.action.CasesAction">
		<property name="casesService">
			<ref bean="casesService" />
		</property>
	</bean>
	
	<bean id="sysUserAction" class="com.action.SysUserAction">
		<property name="sysUserService">
			<ref bean="sysUserService" />
		</property>
	</bean>
	
	<!-- Service配置 -->
	<bean id="newsService" class="com.service.impl.NewsServiceImpl">
		<property name="newsDao">
			<ref bean="newsDao" />
		</property>
		<property name="newsContentDao">
			<ref bean="newsContentDao" />
		</property>
		<property name="newsDetailDao">
			<ref bean="newsDetailDao" />
		</property>
	</bean>
	
	<bean id="jobService" class="com.service.impl.JobServiceImpl">
		<property name="jobDao">
			<ref bean="jobDao" />
		</property>
	</bean>
	
	<bean id="casesService" class="com.service.impl.CasesServiceImpl">
		<property name="casesDao">
			<ref bean="casesDao" />
		</property>
		<property name="casesResDao">
			<ref bean="casesResDao" />
		</property>
		<property name="casesDetailDao">
			<ref bean="casesDetailDao" />
		</property>
	</bean>
	
	<bean id="solutionService" class="com.service.impl.SolutionServiceImpl">
		<property name="solutionDao">
			<ref bean="solutionDao" />
		</property>
		<property name="solutionResDao">
			<ref bean="solutionResDao" />
		</property>
		<property name="solutionDetailDao">
			<ref bean="solutionDetailDao" />
		</property>
	</bean>
	
	<bean id="sysUserService" class="com.service.impl.SysUserServiceImpl">
		<property name="sysUserDao">
			<ref bean="sysUserDao" />
		</property>
	</bean>
	
	<!-- DAO配置 -->
	<bean id="jobDao" class="com.dao.impl.JobDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="casesDao" class="com.dao.impl.CasesDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="casesResDao" class="com.dao.impl.CasesResDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="casesDetailDao" class="com.dao.impl.CasesDetailDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="solutionDao" class="com.dao.impl.SolutionDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="solutionResDao" class="com.dao.impl.SolutionResDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="solutionDetailDao" class="com.dao.impl.SolutionDetailDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="newsDao" class="com.dao.impl.NewsDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="sysUserDao" class="com.dao.impl.SysUserDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="newsContentDao" class="com.dao.impl.NewsContentDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="newsDetailDao" class="com.dao.impl.NewsDetailDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
</beans>
